---
---

<!DOCTYPE html>
<html lang="pl">
<head>
  <title>Paintball Janikowo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body>

{% include header.html %}

{% include oferta.html %}

{% include blog.html %}

{% include social.html %}

{% include sprzet.html %}

{% include cennik.html %}

{% include regulamin.html %}

{% include kontakt.html %}

{% include dojazd.html %}

{% include footer.html %}


<script src="assets/js/jquery-2.1.4.min.js"></script>
<script src="assets/js/functions.js" type="text/javascript"></script>
</body>
</html>
