<section class="alt-section section-blog">
    <h3 id="blog">Blog</h3>

    <hr class="bar">

    <div class="blog-container">
        <div class="blog-belt">
            <div class="blog-unit">
                <div class="small-title-image">

                </div>
                <div class="blog-post-content">

                    <h2>Tytuł posta uhuhu!</h2>

                    <p>
                        Początek najnowszego posta na blogu blablabla ...
                    </p>
                    <a href="./blog/templatka.html">
                        więcej...
                    </a>

                </div>
            </div>

        </div>
    </div>

</section>