<section class="section-cennik">
    <h3 id="cennik">Cennik</h3>

    <hr class="bar">

    <div class="cennik">

        <table>
            <tr>
                <th>---</th>
                <th>Cena</th>
            </tr>
            <tr>
                <td>Kulki 100szt.</td>
                <td>500zł</td>
            </tr>
            <tr>
                <td>Maska</td>
                <td>300zł</td>
            </tr>
            <tr>
                <td>Piwko</td>
                <td>5zł</td>
            </tr>
        </table>

    </div>

</section>