<section class="section-cennik">
    <h3 id="cennik">Cennik</h3>

    <hr class="bar">

    <div class="cennik">

        <table>
            <tr>
                <th></th>
                <th>Cena</th>
            </tr>
            <tr>
                <td>5 scenariuszy + 500 kulek</td>
                <td>75zł/os</td>
            </tr>
            <tr>
                <td>2 scenariusze + 200 kulek</td>
                <td>40zł/os</td>
            </tr>
            <tr>
                <td>1 scenariusz + 100 kulek</td>
                <td>20zł/os</td>
            </tr>
            <tr>
                <td>dodatkowe 100 kulek</td>
                <td>10zł</td>
            </tr>
        </table>

    </div>

</section>