<footer>
    <div class="lockup">
        <!--
        <nav class="kicker">

            <a href="#oferta">Oferta</a>
            <a href="#blog">Blog</a>
            <a href="#social">Social</a>
            <a href="#sprzet">Sprzęt</a>
            <a href="#cennik">Cennik</a>
            <a href="#regulamin">Regulamin</a>
            <a href="#kontakt">Kontakt</a>
            <a href="#dojazd">Dojazd</a>

        </nav>
        -->
        <div class="copyright">Paintball Janikowo &copy;</div>
        <div class="copyright">All content copyright 2017</div>
    </div>
</footer>