<header>

    <h1><span>Paintball<br><span class="janikowo">Janikowo</span></span></h1>

    <nav class="kicker">

        <a href="#oferta">Oferta</a>
        <span>//</span>
        <a href="#blog">Blog</a>
        <span>//</span>
        <a href="#social">Social</a>
        <span>//</span>
        <a href="#sprzet">Sprzęt</a>
        <span>//</span>
        <a href="#cennik">Cennik</a>
        <span>//</span>
        <a href="#regulamin">Regulamin</a>
        <span>//</span>
        <a href="#kontakt">Kontakt</a>
        <span>//</span>
        <a href="#dojazd">Dojazd</a>

    </nav>

</header>