<section class="section-oferta">
    <h3 id="oferta">Oferta</h3>

    <hr class="bar">

    <div class="fota-paintball"></div>

    <p class="zwykly_tekst">

        Paintball Janikowo jest obiektem stworzonym z myślą o wszystkich tych, którzy uwielbiają nietypowe formy aktywności. Choć sam paintball jest grą z bronią w ręku to zaręczamy, że przy zachowaniu podstawowych zasad bezpieczeństwa żadnemu z uczestników nie stanie się krzywda .
        Każdy z elementów wyposażenia niezbędnego do gry występuje w liczbie 16, która jednocześnie wyznacza maksymalną liczebność ekip biorących udział w zabawie. Ta polega na realizacji przygotowanych przez nas scenariuszy – opracowaliśmy 5 ciekawych rozgrywek, spośród których można wybrać najbardziej interesujące zdaniem grupy lub zrealizować je wszystkie. Scenariusze wraz z kulkami tworzą pakiety, które zostały uwzględnione w cenniku. <link?<3 >
        Po udanej zabawie zachęcamy do dzielenia się wrażeniami przy ognisku, a osobom przybywającym z daleka proponujemy nocleg w hotelu znajdującym się tuż obok pola.
    </p>
    <p class="zwykly_tekst">
        <b>UWAGA!</b>
        Osoby poniżej 18 roku życia mogą uczestniczyć w grze wyłącznie za zgodą rodziców, którą należy pobrać <a href="#regulamin">link</a> i podpisaną okazać przed wejściem na pole. Ponadto każdy z graczy jest zobowiązany do zapoznania się z regulaminem <a href="#regulamin">link</a>, którego podpisanie będzie konieczne przed rozpoczęciem rozgrywek.
        Pozostaje nam tylko zachęcić Was do zebrania licznej ekipy i… życzyć udanej zabawy! 

    </p>
</section>