<section class="alt-section section-regulamin">
    <h3 id="regulamin">Regulamin</h3>

    <hr class="bar">

    <div class="regulamin">

        <ul>
            <li class="blue">Ubóstwiałbym Włos</li>
            <li class="purple">szczęśliwsza Bernardyńskie ranne ujrzy</li>
            <li class="green">ujrzy Wedle Brał całe</li>
            <li class="purple">Ubóstwiałbym Włos ujrzy Wedle Brał całe</li>
            <li class="blue">ujrzy Wedle Brał Bernardyńskie ranne całe</li>
        </ul>

    </div>
</section>