<section class="alt-section section-regulamin">
    <h3 id="regulamin">5 głównych zasad</h3>

    <hr class="bar">

    <div class="regulamin">

        <ul>
            <li class="blue">Ubóstwiałbym Włos</li>
            <li class="purple">szczęśliwsza Bernardyńskie ranne ujrzy</li>
            <li class="green">ujrzy Wedle Brał całe</li>
            <li class="purple">Ubóstwiałbym Włos ujrzy Wedle Brał całe</li>
            <li class="blue">ujrzy Wedle Brał Bernardyńskie ranne całe</li>
        </ul>

    </div>
    <div class="section-download">
        <h4>do pobrania</h4>
        <hr class="bar" >

        <div class="download-links">

            <a href="#" download="PaintballJanikowoRegulamin">regulamin</a>
            <a href="#" download="PaintballJanikowoZgoda">zgoda dla nieletnich</a>

        </div>
    </div>
</section>