<section class="alt-section section-sprzet">

    <h3 id="sprzet">Sprzęt</h3>

    <hr class="bar"/>

    <div class="sprzet-slider">

        <div class="sprzet-wrap">
            <div class="sprzet-container">
                <div class="sprzet-thumbnail">
                    <div class="sprzet-unit" id="markery">
                        <div class="sprzet-overlay">
                            <strong>Markery</strong>
                        </div>
                    </div>
                </div>

                <div class="sprzet-thumbnail">
                    <div class="sprzet-unit" id="kulki">
                        <div class="sprzet-overlay">
                            <strong>Kulki</strong>
                        </div>
                    </div>
                </div>

                <div class="sprzet-thumbnail">
                    <div class="sprzet-unit" id="armor">
                        <div class="sprzet-overlay">
                            <strong>Armor</strong>
                        </div>
                    </div>
                </div>

                <div class="sprzet-thumbnail">
                    <div class="sprzet-unit" id="pole">
                        <div class="sprzet-overlay">
                            <strong>Pole</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="info-wrap">
            <div class="info-container">

                <svg id="back" width="50px" height="50px" viewBox="0 0 200 200" >
                        <polygon points="135, 0 35, 99 135, 200 164, 172 92, 100 164, 28"/>
                </svg>
                <h4>Sprzęt test</h4>
                <div style="width: 620px; height: 500px; background: #ccc"></div>
                <p>Ubóstwiałbym Włos raczy rostrzygnijcie szczęśliwsza Bernardyńskie ranne ujrzy Wedle Brał całe Roskrzyżował rzeźbiarstwie astry.</p>

                <h4>Sprzęt test</h4>
                <div style="width: 620px; height: 500px; background: #ccc"></div>
                <p>Ubóstwiałbym Włos raczy rostrzygnijcie szczęśliwsza Bernardyńskie ranne ujrzy Wedle Brał całe Roskrzyżował rzeźbiarstwie astry.</p>

                <h4>Sprzęt test</h4>
                <div style="width: 620px; height: 500px; background: #ccc"></div>
                <p>Ubóstwiałbym Włos raczy rostrzygnijcie szczęśliwsza Bernardyńskie ranne ujrzy Wedle Brał całe Roskrzyżował rzeźbiarstwie astry.</p>

            </div>
        </div>

    </div>

</section>