<section class="alt-section section-contact">
    <h3 id="sprzet">Sprzęt</h3>

    <hr class="bar">

    <div class="sprzet-container">

        <a class="sprzet-unit">
            <div class="sprzet-overlay">
                <strong>Markery</strong>
            </div>
        </a>

        <a class="sprzet-unit">
            <div class="sprzet-overlay">
                <strong>Kulki</strong>
            </div>
        </a>

        <a class="sprzet-unit">
            <div class="sprzet-overlay">
                <strong>Armor</strong>
            </div>
        </a>

        <a class="sprzet-unit">
            <div class="sprzet-overlay">
                <strong>Pole</strong>
            </div>
        </a>
    </div>

</section>