.section-cennik
  position: relative

.cennik
  padding: 20px

  table
    border-collapse: collapse
    width: 100%
    max-width: 1080px
    margin: 10px auto

    td, th
      border: 1px solid #eeeeee
      text-align: left
      padding: 12px
      font-size: 24px


    tr:nth-child(even)
      background-color: #dddddd
