h3
  @extend %small-bold
  text-align: center
  color: black
  padding: 60px 0 30px 0

.alt-section
  background: #eeeeee

.section-contact
  text-align: center

.social-links
  max-width: 700px
  margin: 0px auto 50px
  +display(flex)
  +justify-content(space-around)
  +flex-wrap(wrap)

  a
    display: block
    //background: $accent
    border: 2px solid black
    +size(50px)
    line-height: 50px
    color: saddlebrown
    border-radius: 50%
    font-size: 28px
    margin: 20px
    position: relative


    &:after
      +position(absolute, 0px 0px 0px 0px)
      border: 2px solid black
      border-radius: 50%
      margin: -2px
      opacity: 1
      +transition()

    &:hover:after
      +transform(scale(1.5))
      opacity: 0

.bar
  width: 250px
  height: 0px
  border-top: 3px solid black
  margin: -40px auto 50px

