section
  h3
    letter-spacing: 5px
    font-weight: 700

.zwykly_tekst
  max-width: 620px
  padding: 0px 50px 50px
  text-align: center
  margin: 0 auto
  font:
    size: 18px
    weight: 100

.fota-paintball
  +size(300px 120px)
  margin: 0 auto 20px
  max-width: 620px
  background: url("http://image.shutterstock.com/display_pic_with_logo/927415/154188350/stock-vector-paintball-154188350.jpg") center 330px
