.section-regulamin
  text-align: center

  .regulamin
    width: 100%
    max-width: 600px
    margin: 0 auto
    padding: 10px 10px 60px


    ul
      font:
        size: 24px
        weight: 500
      color: #000

      li
        height: 50px
        line-height: 50px
        margin: 0 auto 10px auto

      li.blue
        list-style-image: url("../img/paintblue.gif")

      li.purple
        list-style-image: url("../img/paintpurple.gif")

      li.green
      list-style-image: url("../img/paintgreen.png")

  .section-download

    .bar
      margin: -20px auto
      max-width: 50px

    .download-links
      position: relative
      width: 100%
      max-width: 600px
      margin: 0px auto
      padding-bottom: 50px
      +display(flex)
      +justify-content(space-around)

      a
        display: inline-block
        position: relative
        margin: 50px auto
        color: #A3A3A3
        font:
          size: 18px
          weight: 600
        letter-spacing: 4px

      a:hover
        transition: 400ms
        color: $redlink
