
.socialmedia
  position: relative
  width: 100%
  max-width: 600px
  margin: 0px auto 50px
  +display(flex)
  +justify-content(space-around)

  a
    text-align: center
    display: block
    margin-bottom: 10px
    width: 80px
    height: 80px

    svg:hover #fbico
      fill: #3B5998
      transition: 200ms
    svg:hover #insta1
      fill: #515ECF
      transition: 100ms
    svg:hover #insta2
      fill: #D92E7F
      transition: 200ms
    svg:hover #insta3
      fill: #FED373
      transition: 300ms


a:hover
  transition: 400ms
  color: #ff4f4f










