.socialmedia
  width: 100%
  max-width: 600px
  margin: 0px auto 50px
  +display(flex)
  +justify-content(space-around)

  a
    display: block
    margin-bottom: 10px
    width: 80px
    height: 80px
    display: block

    svg:hover #fbico
      fill: #3B5998
      transition: 200ms
    svg:hover #insta1
      fill: #515ECF
      transition: 100ms
    svg:hover #insta2
      fill: #D92E7F
      transition: 200ms
    svg:hover #insta3
      fill: #FED373
      transition: 300ms

.biglink
  display: inline-block
  font:
    size: 40px
    weight: 300
  line-height: 1
  max-width: 600px
  width: 100%
  margin: 0 auto 50px
  padding: 30px
  +display(flex)
  color: #000

  svg:hover #mailto
    fill: #ff4f4f
    transition: 200ms

  a:hover
    fill: #ff4f4f
    transition: 400ms






