.section-sprzet
  overflow-x: hidden

.sprzet-slider
  width: 200%
  position: relative
  left: 0%
  +transition(400ms)

.sprzet-wrap, .info-wrap
  width: 50%
  float: left

.sprzet-container
  max-width: 960px
  margin: 0px auto
  padding-bottom: 100px
  +clearfix


  .sprzet-unit
    display: block
    width: 50%
    height: 100px
    background: #01FF70
    float: left
    position: relative
    padding-top: 20%
    overflow: hidden

    .sprzet-overlay
      +position(absolute, 100% 0px null 0px)
      height: 100%
      background: fade-out(#666, 0.2)
      text-align: center
      +transition(400ms)

      strong
        display: block
        padding: 60px 10px 30px
        color: white
        font-weight: 300
        font-size: 300%

    &:hover .sprzet-overlay
      +position(absolute, 0% 0px null 0px)
      cursor: pointer

  #markery
    background:
      image: url("/assets/img/sprzet.jpg")
      position: center center
      repeat: no-repeat
      size: cover
  #kulki
    background:
      image: url("/assets/img/sprzet.jpg")
      position: center center
      repeat: no-repeat
      size: cover
  #armor
    background:
      image: url("/assets/img/sprzet.jpg")
      position: center center
      repeat: no-repeat
      size: cover
  #pole
    background:
      image: url("/assets/img/sprzet.jpg")
      position: center center
      repeat: no-repeat
      size: cover

.info-container
  max-width: 640px
  margin: 0px auto
  display: none

  h4
    margin-top: 0px
    font-weight: 300
    font-size: 250%
    letter-spacing: 3px

  #back
    position: absolute
    margin: 0 -80px

  #back:hover
    fill: #888
    transition: 500ms
    transform: scaleX(1.6) scaleY(1.6)
    cursor: pointer


@media(max-width: 820px)
  .info-container
    #back
      margin: 0

    h4
      margin-left: 80px